[mysqld]
tls_version = TLSv1.2
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
pid-file = /var/lib/mysql/mysqld.pid
explicit_defaults_for_timestamp = true
default-time-zone = "Europe/Kiev"
[client]
user=root
password=root
